

.header{
    grid-area: h;
    background-color: #4A6E84;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header img{
    margin-left: 30px;
    width: 50px;
    border-radius: 50%;
    height: auto;
  }

  .loginBlock{  
    margin-right: 30px;
  }

  .loginBlock a{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
  }

  .loginBlock a{
    text-decoration: none;
    color: #fff;
  }

  .userPhoto{
    display: flex;
    align-items: center;
  }

  .userPhoto button{
    margin-left: 10px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
  }