.nav{
  grid-area: n;
  background-color: #C7CFDA;
  padding: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;  
}

.item{
  padding: 10px;
}

.item a.active{
  color: #C65277;
}

.item a{
  text-decoration: none;
  color: #487288;
}

.friendsTitle{
  text-align: center;
  margin: 10px;
}

.friends{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
}