.loginTitle{
    text-align: center;
}

.summeryError{
    color: red;
    border: 2px solid red;
    padding: 10px;
}

.loginForm{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input{
    margin: 5px;
    padding: 5px 10px;
}

.loginForm button{
    border: none;
    padding: 10px 20px;
    background-color: #C65277;
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}