.app-wraper {
  height: 100vh;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 25% 74%;
    grid-template-areas:
  "h h"
  "n c";
}

.app-wraper-content {
    grid-area: c;
    background-color:#D8E9EA;
    position: relative;
    height: calc(100vh - 65px);
    overflow: auto;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}




